AddDefaultCharset utf-8
#Action php5.3-script  /cgi-bin/php5.3.cgi
#AddType php5.3-script .php



RewriteEngine On
RewriteBase /



# Не забыть сделать редирект с www на без www
# RewriteCond %{HTTP_HOST} ^www.dnar.ru$ [NC]
# RewriteRule ^(.*)$ http://dnar.ru/$1 [R=301,L]


RewriteRule ^(\w+)$ $1.php [NC]

RewriteRule ^domains/(.*)$ domain.php?name=$1
RewriteRule ^hostings/dnar$ dhost.php
RewriteRule ^support/seo$ sseo.php
RewriteRule ^support/ppc$ sppc.php
RewriteRule ^support/adspy$ sadspy.php
RewriteRule ^support/text$ stext.php
RewriteRule ^support/usability$ susability.php
RewriteRule ^support/virus$ svirus.php
RewriteRule ^support/support$ ssupport.php

ErrorDocument 404 /404.php


# Редирект старый страниц
RewriteRule ^8.html$ http://dnar.ru/hostings/dnar [R=301,L]
RewriteRule ^88.html$ http://dnar.ru/hostings/dnar [R=301,L]
RewriteRule ^888.html$ http://dnar.ru/hostings/dnar [R=301,L]
RewriteRule ^yandex-money.html$ http://dnar.ru/#payment [R=301,NE,B,L]
RewriteRule ^qiwi-money.html$ http://dnar.ru/#payment [R=301,NE,B,L]


# Редиректы реферальных ссылок :)
RewriteRule ^hostings/timeweb$ http://timeweb.com/ru/services/hosting/?i=3591&a=0006 [R=301,L]

