AddDefaultCharset utf-8
#Action php5.3-script  /cgi-bin/php5.3.cgi
#AddType php5.3-script .php



RewriteEngine On
# RewriteBase /



# Не забыть сделать редирект с www на без www
# RewriteCond %{HTTP_HOST} ^www.dnar.ru$ [NC]
# RewriteRule ^(.*)$ http://dnar.ru/$1 [R=301,L]


RewriteRule ^(\w+)$ $1.php [NC]

RewriteRule ^domains/(.*)$ domain.php?name=$1
RewriteRule ^qa/(.*)$ qa.php?alias=$1
RewriteRule ^hostings/dnar$ dhost.php
RewriteRule ^support/seo$ sseo.php
RewriteRule ^support/ppc$ sppc.php
RewriteRule ^support/adspy$ sadspy.php
RewriteRule ^support/text$ stext.php
RewriteRule ^support/usability$ susability.php
RewriteRule ^support/virus$ svirus.php
RewriteRule ^support/support$ ssupport.php

ErrorDocument 404 /404.php


# Редирект старый страниц
RewriteRule ^8.html$ http://dnar.ru/hostings/dnar [R=301,L]
RewriteRule ^88.html$ http://dnar.ru/hostings/dnar [R=301,L]
RewriteRule ^888.html$ http://dnar.ru/hostings/dnar [R=301,L]
RewriteRule ^5.html$ http://dnar.ru/hostings/dnar [R=301,L]
RewriteRule ^yandex-money.html$ http://dnar.ru/#payment [R=301,NE,B,L]
RewriteRule ^qiwi-money.html$ http://dnar.ru/#payment [R=301,NE,B,L]
RewriteRule ^robokassa.html$ http://dnar.ru/#payment [R=301,NE,B,L]
RewriteRule ^domennaya-zona-aero.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-coop.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-edu.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-eu.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-gov.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-int.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-mil.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-museum.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-ac.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-ad.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-ae.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-af.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-ag.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-ai.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-al.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-am.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-an.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-ao.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-aq.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-ar.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-as.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-at.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-au.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-aw.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-az.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-ba.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-bb.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-bd.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-be.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-bf.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-bg.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-bh.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-bi.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-bj.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-bm.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-bn.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-bo.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-br.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-bs.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-bt.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-bv.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-bw.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-by.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-ca.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-cd.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-cf.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-cg.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-ch.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-ci.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-ck.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-cl.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-cm.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-cn.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-co.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-cr.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-cu.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-cv.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-cx.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-cy.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-cz.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-de.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-dj.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-dk.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-dm.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-do.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-dz.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-ec.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-ee.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-eg.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-eh.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-er.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-es.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-et.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-fi.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-fj.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-fk.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-fm.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-fo.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-fr.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-ga.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-gb.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-gd.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-ge.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-gf.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-gg.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-gh.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-gi.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-gl.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-gm.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-gn.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-gp.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-gq.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-gr.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-gs.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-gt.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-gu.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-gw.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-gy.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-hk.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-hm.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-hn.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-hr.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-ht.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-hu.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-id.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-ie.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-il.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-im.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-io.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-iq.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-ir.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-is.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-it.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-je.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-jm.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-jo.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-jp.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-ke.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-kg.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-kh.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-ki.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-km.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-kn.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-kp.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-kr.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-kw.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-ky.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-la.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-lb.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-lc.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-li.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-lk.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-lr.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-ls.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-lt.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-lu.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-lv.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-ly.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-ma.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-mc.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-md.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-mg.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-mh.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-mk.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-ml.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-mm.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-mo.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-mp.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-mq.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-mr.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-ms.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-mt.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-mu.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-mv.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-mw.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-mx.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-my.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-mz.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-na.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-nc.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-ne.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-nf.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-ng.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-ni.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-nl.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-no.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-np.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-nr.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-nu.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-nz.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-om.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-pa.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-pe.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-pf.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-pg.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-ph.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-pk.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-pl.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-pm.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-pn.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-pr.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-ps.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-pt.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-pw.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-py.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-qa.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-re.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-ro.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-rw.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-sa.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-sb.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-sc.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-sd.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-se.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-sg.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-sh.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-si.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-sj.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-sk.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-sl.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-sm.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-sn.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-so.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-sr.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-st.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-sv.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-sy.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-sz.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-tc.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-td.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-tf.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-tg.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-th.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-tj.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-tk.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-tm.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-tn.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-to.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-tp.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-tr.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-tt.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-tw.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-tz.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-ua.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-ug.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-uk.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-um.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-uy.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-uz.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-va.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-vc.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-ve.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-vg.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-vi.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-vn.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-vu.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-wf.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-ye.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-yt.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-yu.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-za.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-zm.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^domennaya-zona-zw.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^rudomain.html$ http://dnar.ru/domains/ru [R=301,L]
RewriteRule ^sudomain.html$ http://dnar.ru/domains/su [R=301,L]
RewriteRule ^domennaya-zona-ru.html$ http://dnar.ru/domains/ru [R=301,L]
RewriteRule ^domennaya-zona-su.html$ http://dnar.ru/domains/su [R=301,L]
RewriteRule ^domennaya-zona-com.html$ http://dnar.ru/domains/com [R=301,L]
RewriteRule ^domennaya-zona-net.html$ http://dnar.ru/domains/net [R=301,L]
RewriteRule ^domennaya-zona-org.html$ http://dnar.ru/domains/org [R=301,L]
RewriteRule ^domennaya-zona-biz.html$ http://dnar.ru/domains/biz [R=301,L]
RewriteRule ^domennaya-zona-info.html$ http://dnar.ru/domains/info [R=301,L]
RewriteRule ^domennaya-zona-mobi.html$ http://dnar.ru/domains/mobi [R=301,L]
RewriteRule ^domennaya-zona-name.html$ http://dnar.ru/domains/name [R=301,L]
RewriteRule ^domennaya-zona-tv.html$ http://dnar.ru/domains/tv [R=301,L]
RewriteRule ^domennaya-zona-in.html$ http://dnar.ru/domains/in [R=301,L]
RewriteRule ^domennaya-zona-mn.html$ http://dnar.ru/domains/mn [R=301,L]
RewriteRule ^domennaya-zona-cc.html$ http://dnar.ru/domains/cc [R=301,L]
RewriteRule ^domennaya-zona-ws.html$ http://dnar.ru/domains/ws [R=301,L]
RewriteRule ^domennaya-zona-bz.html$ http://dnar.ru/domains/bz [R=301,L]
RewriteRule ^domennaya-zona-asia.html$ http://dnar.ru/domains/asia [R=301,L]
RewriteRule ^domennaya-zona-me.html$ http://dnar.ru/domains/me [R=301,L]
RewriteRule ^domennaya-zona-us.html$ http://dnar.ru/domains/us [R=301,L]
RewriteRule ^domennaya-zona-tel.html$ http://dnar.ru/domains/tel [R=301,L]
RewriteRule ^domennaya-zona-kz.html$ http://dnar.ru/domains/kz [R=301,L]
RewriteRule ^15.html$ http://dnar.ru/ [R=301,L] # Интересная страница с доменами разных зон для SEO
RewriteRule ^16.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^z8.html$ http://dnar.ru/hostings [R=301,L]
RewriteRule ^z8_m1.html$ http://dnar.ru/hostings [R=301,L]
RewriteRule ^z8_m2.html$ http://dnar.ru/hostings [R=301,L]
RewriteRule ^z8_m3.html$ http://dnar.ru/hostings [R=301,L]
RewriteRule ^z8_m4.html$ http://dnar.ru/hostings [R=301,L]
RewriteRule ^z8_m5.html$ http://dnar.ru/hostings [R=301,L]
RewriteRule ^z8_m6.html$ http://dnar.ru/hostings [R=301,L]
RewriteRule ^z8_m7.html$ http://dnar.ru/hostings [R=301,L]
RewriteRule ^z8_m8.html$ http://dnar.ru/hostings [R=301,L]
RewriteRule ^z8_m9.html$ http://dnar.ru/hostings [R=301,L]
RewriteRule ^z8_m10.html$ http://dnar.ru/hostings [R=301,L]
RewriteRule ^z8_m11.html$ http://dnar.ru/hostings [R=301,L]
RewriteRule ^z8_m12.html$ http://dnar.ru/hostings [R=301,L]
RewriteRule ^hosting_start_plyus.html$ http://dnar.ru/hostings/dnar [R=301,L]
RewriteRule ^hosting_standart.html$ http://dnar.ru/hostings/dnar [R=301,L]
RewriteRule ^hosting_master.html$ http://dnar.ru/hostings/dnar [R=301,L]
RewriteRule ^hosting_biznes.html$ http://dnar.ru/hostings/dnar [R=301,L]
RewriteRule ^hosting_10_domenov.html$ http://dnar.ru/hostings/dnar [R=301,L]
RewriteRule ^hosting_20_domenov.html$ http://dnar.ru/hostings/dnar [R=301,L]
RewriteRule ^hosting_30_domenov.html$ http://dnar.ru/hostings/dnar [R=301,L]
RewriteRule ^hosting.html$ http://dnar.ru/hostings/dnar [R=301,L]
RewriteRule ^dh.html$ http://dnar.ru/ [R=301,L] # Давольно интересная страница для SEO
RewriteRule ^z2.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^z3.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^z4.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^z5.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^z6.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^z7.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^z1.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^z1_m1.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^z1_m2.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^z1_m3.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^z1_m4.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^z1_m5.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^z1_m6.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^z2_m1.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^z2_m2.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^z2_m3.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^z3_m1.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^z3_m2.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^z3_m3.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^z3_m4.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^z3_m5.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^z3_m6.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^z3_m7.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^z3_m8.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^z3_m9.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^z3_m10.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^z3_m11.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^z3_m12.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^z3_m13.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^z3_m14.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^z3_m15.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^z3_m16.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^z3_m17.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^z3_m18.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^z3_m19.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^z3_m36.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^z3_m20.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^z3_m21.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^z3_m22.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^z3_m23.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^z3_m24.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^z3_m25.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^z3_m26.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^z3_m27.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^z3_m28.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^z3_m29.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^z3_m30.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^z3_m31.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^z3_m32.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^z3_m33.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^z3_m34.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^z3_m35.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^z3_m37.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^z4_m1.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^z5_m1.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^z5_m2.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^z5_m3.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^z5_m4.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^z5_m5.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^z5_m6.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^z5_m7.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^z5_m8.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^z5_m9.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^z6_m1.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^z6_m2.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^z6_m3.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^z6_m4.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^z6_m5.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^z6_m6.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^z6_m7.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^z6_m8.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^z6_m9.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^z6_m10.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^z6_m11.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^z6_m12.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^z6_m13.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^z6_m14.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^z6_m15.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^z7_m1.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^z7_m2.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^z7_m3.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^z7_m4.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^z7_m5.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^z7_m6.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^z7_m7.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^z7_m8.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^z7_m9.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^z7_m10.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^z7_m11.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^z7_m12.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^z7_m13.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^z7_m14.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^z7_m15.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^z7_m16.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^z7_m17.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^z9.html$ http://dnar.ru/support [R=301,L]
RewriteRule ^z9_m1.html$ http://dnar.ru/support [R=301,L]
RewriteRule ^z9_m2.html$ http://dnar.ru/support [R=301,L]
RewriteRule ^z9_m3.html$ http://dnar.ru/support [R=301,L]
RewriteRule ^z9_m4.html$ http://dnar.ru/support [R=301,L]
RewriteRule ^z9_m5.html$ http://dnar.ru/support [R=301,L]
RewriteRule ^z9_m6.html$ http://dnar.ru/support [R=301,L]
RewriteRule ^z9_m7.html$ http://dnar.ru/support [R=301,L]
RewriteRule ^z9_m8.html$ http://dnar.ru/support [R=301,L]
RewriteRule ^z9_m9.html$ http://dnar.ru/support [R=301,L]
RewriteRule ^z9_m10.html$ http://dnar.ru/support [R=301,L]
RewriteRule ^z9_m11.html$ http://dnar.ru/support [R=301,L]
RewriteRule ^z9_m12.html$ http://dnar.ru/support [R=301,L]
RewriteRule ^z9_m13.html$ http://dnar.ru/support [R=301,L]
RewriteRule ^z9_m14.html$ http://dnar.ru/support [R=301,L]
RewriteRule ^z9_m15.html$ http://dnar.ru/support [R=301,L]
RewriteRule ^z9_m16.html$ http://dnar.ru/support [R=301,L]
RewriteRule ^z9_m17.html$ http://dnar.ru/support [R=301,L]
RewriteRule ^z9_m18.html$ http://dnar.ru/support [R=301,L]
RewriteRule ^z9_m19.html$ http://dnar.ru/support [R=301,L]
RewriteRule ^z9_m20.html$ http://dnar.ru/support [R=301,L]
RewriteRule ^z9_m21.html$ http://dnar.ru/support [R=301,L]
RewriteRule ^boont.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^boont2.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^12.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^9.html$ http://dnar.ru/#questions-and-answers [R=301,NE,B,L]
RewriteRule ^3.html$ http://dnar.ru/#move-domain [R=301,NE,B,L]
RewriteRule ^4.html$ http://dnar.ru/#move-domain [R=301,NE,B,L]
RewriteRule ^1400.html$ http://dnar.ru/#questions-and-answers [R=301,NE,B,L]
RewriteRule ^7.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^6.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^17.html$ http://dnar.ru/ [R=301,L]
RewriteRule ^13.html$ http://dnar.ru/#payment [R=301,NE,B,L]
RewriteRule ^faq_add_payment.html$ http://dnar.ru/#payment [R=301,NE,B,L]
RewriteRule ^faq_domains.html$ http://dnar.ru/#questions-and-answers [R=301,NE,B,L]

RewriteRule ^faq_new_domain.html$ http://dnar.ru/qa/new-domain [R=301,L]


RewriteRule ^/faq_prolong_domain.html$ http://dnar.ru/qa/prolong_domain [R=301,L]
RewriteRule ^/faq_autoprolong_domain.html$ http://dnar.ru/qa/prolong_domain [R=301,L]






# Редиректы реферальных ссылок :)
RewriteRule ^hostings/timeweb$ http://timeweb.com/ru/services/hosting/?i=3591&a=0006 [R=301,L]

