@import "bootstrap/variables.less";

// Colors
@main-bg: #fff;

@text-inverse: @main-bg;
@base-font-color: #343437;

@domain-taken: @brand-danger;
@domain-free: @brand-success;

@rawdata-bg: @jumbotron-bg;

@navbar-collapse-bg: #eee;
@navbar-collapse-hover-bg: #fff;

@adspy-sublevel-color: #696969;

// Navigation bar
@nav-bg: @main-bg;
@nav-font-size: 12px;

// Radius
@general-radius: 0;
@domain-item-radius: 0;
@btn-radius: 2;

// Buttons
@btn-bg: transparent;

@btn-clr: @brand-primary;
@btn-border-width: 2px;

@btn-primary-color: @main-bg;
@btn-primary-border-width: 2px;
@btn-primary-border-color: @btn-primary-color;

// Inputs
@input-border-width: 1px;
@input-border-color: @gray-lighter;
@input-border-radius: @general-radius;
@main-input-height: 60px;
@main-input-ver-padding: 29px;
@main-input-hor-padding: 20px;

// Distances
@jumbo-heading-margin-bottom: 22px;
@search-row-margin-top: 55px;
@search-row-margin-bottom: 0;
@tabs-wrapper-margin-t: @jumbotron-margin;
@tabs-wrapper-margin-b: 0;

// Fonts
@input-font-weight: 300;

// Font-weights 
@jumbotron-text-weight: 300;
@jumbotron-heading-weight: 100;
@navbar-brand-weight: 700;
@sidenav-weight: @navbar-brand-weight;
@hosting-price-weight: 700;
@subheader-weight: 700;


// Tables
@thead-weight: 300;
@thead-color: #adadae;
@thead-font-size: @font-size-base;
@tbody-font-size: 14px; //13px

// Forms 
@max-form-width: 400px;

// Scroll
@scroll-bg: rgba(106, 183, 214, 0.48);
@scroll-size: 25px;

// additional breakpoints
@screen-md-larger: (@screen-md + 60);
@screen-sm-larger: (@screen-sm + 60);