@import "bootstrap/bootstrap.less";
@import "dnarvariables.less";
@import "mixins.less";


// Main structure
body {
	padding-top: @navbar-height;
}


.container {
	position: relative;
	// padding-right: 60px;
	// padding-left: 60px;
}
// Navigations

.navbar-brand {
	margin-top: -9px;
}
.navbar {
	a {
		text-transform: uppercase;
	}
	a, .btn {
		font-size: @nav-font-size;
	}
}
.navbar-form {
	paddiing: 0;
}
@media (min-width: 992px) and (max-width: 1200px) {
	.navbar-nav > li > a {
		padding-left: 10px;
		padding-right: 10px;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.navbar-nav > li > a {
		font-size: 11px;
		padding-left: 8px;
		padding-right: 8px;
	}
}

.navbar-nav > .active > a {
	font-weight: bold;
}	


.navbar-default {
	background-color: @nav-bg;
	border: none;
	.navbar-brand {
		color: @text-color;
		font-weight: @navbar-brand-weight; 
	}
	
}

.lower-shadow {
	box-shadow: 0 1px 17px 3px rgba(0, 0, 0, 0.55);
}

.nav-pills {
	text-transform: uppercase;
	font-size: @nav-font-size;
	letter-spacing: 1px;
	white-space: nowrap;
}
// Typography
.subheader {
	font-weight: @subheader-weight;
	text-transform: none;
}
// Tabs
.tabs-wrapper {
	margin-top: @tabs-wrapper-margin-t;
	margin-bottom: @tabs-wrapper-margin-b;
}
.tab-content {
	margin-top: 30px;
}
.main-tab-content {
	.tab-pane {
		display: none;
		&.active {
			display: block;
		}
	}
}

#legal-entity {
	display: none;
}
// slide-open links
.show-more {
	&, &:hover {
		text-decoration: none;
	}
	border-bottom: 1px dashed @link-color;
}
.show-more-question {
	margin-top: 10px;
    line-height: 1.2;
}
.show-more-content { // hide by default
	display: none;
}
// Jumbotron
.jumbotron {
	h1 {
		text-transform: uppercase;
		margin-bottom: @jumbo-heading-margin-bottom;
		font-weight: @jumbotron-heading-weight;
	}
	p {
		font-weight: @jumbotron-text-weight;
	}
}
.jumbotron-brand {
	background-color: @brand-bg-primary;
	color: @main-bg;
}

// Buttons
.btn {
	background-color: transparent;
}
.btn-default {
	color: @btn-clr;
	border: @btn-border-width solid @btn-clr;
	text-transform: uppercase;
	letter-spacing: 1px;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
	background-color: @btn-clr;
	border-color: @btn-clr;
	color: @text-inverse;
 }
.btn.filter:focus,
.btn.filter:active {
	background-color: transparent;
	color: @btn-clr;
}
.btn.filter.active:focus,
.btn.filter.active:active {
	background-color: @btn-clr;
	border-color: @btn-clr;
	color: @text-inverse;
}


.btn-primary {
	color: @btn-primary-color;
	border: @btn-primary-border-width solid @btn-primary-border-color;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
	color: @btn-clr;
	background-color: @btn-primary-border-color;
	border-color: @btn-primary-border-color;
}
.btn-wide {
	width: 100%;
}
.btn-full {
	color: @text-inverse;
	background-color: @brand-primary;
}
.btn-full:hover,
.btn-full:focus,
.btn-full:active,
.btn-full.active {
	background-color: @gray-lighter;
	border-color: @gray-lighter;
}

// Forms
.feedback-form {
	.box-shadow();
	position: relative;
	width: 100%;
	max-width: @max-form-width;
	padding: 30px !important;
	@media (min-width: 650px) {
		&:after {
			content: '';
			display: inline-block;
			position: absolute;
			width: 118px;
			height: 157px;
			right: -118px;
			top: 20px;
			background: url("../assets/img/send-plane.png") no-repeat;
		}
	}
}

.help-block-attach {
	margin-top: 20px;
}

.show-more-content-prices {
	margin-top: 10px;
}

// Search
.input-border {
	border: @input-border-width solid @input-border-color;
	border-radius: @input-border-radius;
}
.form-control {
	.input-border;
	line-height: 25px;
	font-size: @font-size-large;
	font-weight: @input-font-weight;
	&:focus {
		box-shadow: none;
		-webkit-box-shadow: none;
	}
	// add red border for error
	&.main-search-input.error,
	&:focus.main-search-input.error {
		border-color: @brand-danger;
		border-width: 2px;
		border-right: none;
		+ .input-group-btn {
			button {
				border: 2px solid @brand-danger;
				border-left: none;
			}
			// .btn {
			// 	height: 62px;
			// }
		}
	}
}
.form-control.error {
	border: @input-border-width solid @brand-danger;
}
.form-success-text {
	display: none;
	position: absolute;
	background: #FFF;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	padding: 50px;
}
.address-input {
	display: none;
}

.main-search-input {
	// padding: @main-input-ver-padding @main-input-hor-padding;
	border-right: none;
	height: @main-input-height;
}
.input-group-btn {
	& > .btn {
		color: @btn-clr;
		background: white;
		font-size: 23px;
		.input-border;
		height: (@main-input-ver-padding + @input-border-width) * 2;
		transition: color .2s ease-in-out;
	}
	&:hover > .btn {
		border-left: none;
		color: @gray-lighter; //lighten(@btn-clr, 10%);
		// font-size: 28px;
	}
}
.search-stuff-wrapper {
	margin-bottom: @search-row-margin-bottom;
	margin-top: @search-row-margin-top;
}

// Whois results
.tld-cards {
	margin-top: 30px;
}
.list-group-item.domain-item {
	border-radius: @domain-item-radius;
	p {
		margin: 0;
	}
}

.domain-item-taken {
	color: @domain-taken;
}
.domain-item-free {
	color: @domain-free;
}

.more-whois-content { 
	color: @base-font-color;
	display: none;
}

// Move domains
.move-domain-heading {
	margin-top: -(@search-row-margin-top * 0.6);
}
.move-domain-intro {
	margin-bottom: (@search-row-margin-top * 0.7);
}

// Pricelist

.price-list-column {
	.price-list-price {
		font-weight: 600;
		&>a {color: black;}
		@media (min-width: 992px) {
			margin-right: 15px;
		}
	}
	// &:last-child .price-list-price {
	// 	@media (min-width: 992px) {
	// 		margin-right: 0;
	// 	}	
	// }
}
.price-list-item {
	min-width: 140px;
	h4 {
		text-transform: lowercase;
		margin-top: 0;
		margin-bottom: 10px;
	}
}
.pricetable-heading {
	position: relative;
}

.price_tld {
	color: #000;
	//font-weight: bold; 
}


.yandex-sharing-icons-row {
	position: absolute;
	right: 0;
	display: inline-block;
}

// Featurettes
.registration-rules {
	margin-top: 40px;
	h3 {
		margin-top: 0;
	}
}
.square-featurette {
	padding: 15px 20px;
	color: @text-inverse;
	width: 45%;
	float: left;
	margin-right: 5%;
	&:last-child { 
		margin-right: 0;
	}
	&:nth-child(2n+1) {
		background-color: @brand-secondary;
	}
	&:nth-child(2n) {
		background-color: @brand-primary-helper;
	}
	.featurette-heading {
		margin: 15px 0;
	}
}
.square-featurette-text {
	line-height: 1.6;
}
.big-feature-icon {
	font-size: 50px;
}

// Payment Info
.payment-types-toggle {
	margin-top: 30px;
	text-align: center;
}
.payment-method-paragraph {
	position: relative;
	// padding-left: 140px;
	.payment-icons {
		// position: absolute;
		// display: inline-block;
		float: left;
		top: 7px;
		left: 0;
		width: 120px;
		height: 100px;
	}
}
.bank-cards-icons {
	background: url('../assets/img/payment/payment_icons_visa.png'), url('../assets/img/payment/payment_icons_master.png');
	background-repeat: no-repeat, no-repeat;
	background-position: 0 0, 29px 17px;
}
.electronic-money-icons {
	background: url('../assets/img/payment/electronic_money/yandex-money.png'),
				url('../assets/img/payment/electronic_money/webmoney.png'),
				url('../assets/img/payment/electronic_money/rbk-money.png'),
				url('../assets/img/payment/electronic_money/qiwi.png');
	background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
	background-position: 0 0, 55px 0px, 0 42px, 55px 42px;
}

// Hostings
.controls-row {
	margin-bottom: 15px;
}

.yand-sharing-hostings {
	margin-top: 15px; // additional to h4 margin
	float: right;
}
.filter-column-wrapper {
	padding-left: 60px;
}
.filter-column {
	position: relative;
	.box-shadow();
	padding-bottom: 8px;//40px;
}
.card-wrapper {
	width: 100%;
	// .box-shadow();
	padding: 15px 15px 0;
	// margin-bottom: 15px;
	
	h4 {
		font-size: 16px;
	}
}


select {
    //-webkit-appearance: button;
    //-moz-appearance: button;
    -webkit-user-select: none;
    -moz-user-select: none;
    -webkit-padding-end: 20px;
    -moz-padding-end: 20px;
    -webkit-padding-start: 6px;
    -moz-padding-start: 6px;
    background-color: #FFF; /* fallback color if gradients are not supported */
   // background-image: url(../images/select-arrow.png), -webkit-linear-gradient(top, #E5E5E5, #F4F4F4); /* For Chrome and Safari */
   // background-image: url(../images/select-arrow.png), -moz-linear-gradient(top, #E5E5E5, #F4F4F4); /* For old Fx (3.6 to 15) */
   // background-image: url(../images/select-arrow.png), -ms-linear-gradient(top, #E5E5E5, #F4F4F4); /* For pre-releases of IE 10*/
   // background-image: url(../images/select-arrow.png), -o-linear-gradient(top, #E5E5E5, #F4F4F4); /* For old Opera (11.1 to 12.0) */ 
   // background-image: url(../images/select-arrow.png), linear-gradient(to bottom, #E5E5E5, #F4F4F4); /* Standard syntax; must be last */
    background-position: center right;
    background-repeat: no-repeat;
    border: 1px solid #AAA;
    border-radius: 0px;
   // box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
   // color: #555;
    font-size: inherit;
    margin: 0;
    overflow: hidden;
    padding-top: 4px;
    padding-bottom: 4px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 98%;
}




.filter-columnd {
	.card-wrapper:first-child {
		margin-bottom: -7px;
	}
}
.hosting-card {
	.box-shadow();
	margin-bottom: 10px;
}
.hostings-description {
	margin-top: 20px;
	position: relative;
	bottom: 0;
}
.mix {
	display: none;
}
a.sort {
	cursor: pointer;
	border-bottom: 1px dashed @brand-primary;
	display: inline-block;
	margin-bottom: 10px;
	margin-right: 15px;
	text-transform: none;
	padding: 0 5px;
	&.active {
		background-color: @brand-primary;
		color: white;
		// border-color: white;
	}
	&:hover {
		text-decoration: none;
	}
}
.category-name {
	text-transform: none;
}


.tarif-name {
	position: relative;
	padding-left: 24px;
}
.hoster-icon {
	position: absolute;
	left: 0;
	width: 16px;
	height: 16px;
}
.tarif-price {
	position: absolute;
	right: 0;
	top: 0;
	font-weight: @hosting-price-weight;
	text-transform: none;
}
.tarif-specs-list {
	list-style: none;
	padding: 0;
}
.tarif-spec-item.unavailable {
	color: lighten(@gray-light, 10%);
}

.tarif-features-section {
	margin: 15px 0;
}

.tarif-specs-table {
	margin-bottom: 0;
	width: 300px;
	white-space: nowrap;
	td:first-child {
		width: 150px;
		padding-left: 20px;

		position: relative;
		.glyphicon-ok;
		&:before {
			.glyphicon;
			position: absolute;
			top: 3px;
			left: 0;
			// get another color if insinde ".unavailable"
			color: @brand-success;
		}
	}
	.unavailable > td:first-child {
		.glyphicon-remove;
		&:before {
			color: @brand-danger;
		}
	}
	> tbody > tr > td {
		border: none;
		padding: 0;
		line-height: 1.6;
	}
}

// @media (min-width: 580px) {
// 	.specs-table-wrapper {
// 		margin-right: 20px;
// 		max-width: 40%;
// 		&:last-child {
// 			margin: 0;
// 		}
// 	}
// }

// settings
.settings-card {

	h1, h2, h3, h4 {
		text-transform: none;
	}
	button { 
		white-space: pre-wrap;
		margin-bottom: 10px;
	}
	padding-bottom: 10px;
}

.range-filter {
   	border-bottom: 1px dotted @gray-lighter; 
}


.order-settings-header {
	margin-top: 5px;
	padding-bottom: 10px;
	font-weight: 400;
    text-transform: none;
    
}

.interval-input {
	display: inline-block;
	width: 35%;
}

// Sidebar
.side-nav {
	font-weight: @sidenav-weight;
	.box-shadow();
	padding: 15px 20px;
	.subheader {
		margin-bottom: 15px;
	}
}
.sidebar-link-group {
	padding: 0;
}
.sidebar-link-item {
	list-style: none;
	> a {
		display: inline-block;
		padding: 5px 0;
	}
	&.active > a {
		color: @text-color;
	}
	&.active:hover > a {
		text-decoration: none;	
	}
	&.active > a:before {
		content: "\e127";
		.content-glyphicon();
		font-size: 1.3em;
		margin-right: 4px;
		position: relative;
		top: 2px;
	}
}

// Tables
.table {
	> thead > tr > th {
	  vertical-align: bottom;
	  border-bottom: none;
	  font-size: @thead-font-size;
	  font-weight: @thead-weight;
	  color: @thead-color;
	}
	> tbody > tr > td {
		font-size: @tbody-font-size;
	}
}

.dhost {
    .dhfirst {
        text-align: left;
        }
    td, th {
    text-align: center;
    width: 25%;
    }
}

// Footer
footer {
	color: @text-subtle-color;
	padding-bottom: 15px;
}

.footer-line {
	margin-top: 70px;
}




// Modal dialog
.modal-dialog {
	width: 290px;
	.btn {
		font-size: @nav-font-size;
	}
}
.modal-content {
	border-radius: @general-radius;
}
.modal-body {
	padding: 25px;
}
.modal-footer {
	padding: 25px;
	padding-top: 0;
	text-align: left;
	border: none;
}
.modal-close {
	position: absolute;
	top: 0;
	right: 0;
	font-size: 10px;
	color: @link-color;
	margin-right: 7px;
	margin-top: 5px;
	&:hover {
		cursor: pointer;
		color: @link-hover-color;
	}
}
.modal-backdrop.in {
	opacity: .2;
}
.forgot-link {
	font-weight: @input-font-weight;
	line-height: 32px;
}

// Scroll
.scroll-top {
	position: fixed;
	right: -50px; //15px;
	bottom: 100px; //15px;
	.scroll-top-item {
		position: absolute;
		bottom: 100px; //39px;
		right: 60px; //0;
		display: inline-block;
		display: none;
		border: 2px solid @btn-clr;
		border-radius: 3px;
		width: 34px;
		height: 34px;
		font-size: 15px;
		padding: 5px 8px;
		background: transparent;
		color: @btn-clr;
		transition: background-color .3s linear;
		&:hover {
			background-color: @btn-clr;
			color: @text-inverse;
			cursor: pointer;
		}
	}
	.btn {
		// margin-right: 10px;
	}
}
.scroll-btn {
	&.absolutely {
		position: fixed;
		// right: 60px;
		top: 100px;
	}
	margin-top: -5px;
	height: 34px;
	-webkit-transform: rotate(270deg);
 			transform: rotate(270deg);
}

// Icomoon
.icon-ruble {
	display: inline-block;
	position: relative;
	bottom: -1px;
}


.payment-icons-row-wrapper {
    margin-top: 50px;
    & + hr {
    	margin-top: 10px;
    }
}
.payment-icons-row {
    background-color: #F2EFF1;
    width: 100%;
    float: right;
    height: 60px;
    padding-top: 16px;
	img {
		margin-left: 32px; // 25px;
	}
    a {
        color:#000;
    }
    span {
		font-size: 14px;
        //font-weight: bold;
        text-transform: uppercase;
	}
    .payment-icons-row-desc {
        margin-right: 10px;
        margin-left: 15px;
    }
    .payment-icons-row-img {
        text-align: center;
    }
    
    .payment-icons-row-link {
        float: right;
        margin-right: 15px;
        margin-left: 10px;
        margin-top: 5px;
    }
}

.domains-img {
    margin-right: 20px;
    float: left;
}

.breadcrumb {
    margin-bottom: 5px;
    position: relative;
    bottom: 18px;
    text-transform: uppercase;
    font-size: 11px;
}

.domains-cost {
    float: right;
}

.domains-description {
    
}

.faq-table {
    width:100%;
    tr {
        vertical-align: top;
    }
    td {
        width: 50%;
    }
}

